@page
@model Eidos.Pages.Account.LogoutModel

<!DOCTYPE html>
<html>
<head>
    <title>Logging out...</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
</head>
<body>
    <p>Logging out...</p>
    <script>
        // Use replace instead of href to prevent back button issues
        // Add timestamp to force fresh page load
        setTimeout(function() {
            window.location.replace('/Account/Login?t=' + new Date().getTime());
        }, 200);
    </script>
</body>
</html>
